<?xml version="1.0" encoding="utf-8"?>
<manifest package="cav.pdst"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:installLocation="auto">

    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".utils.PdStApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.TrainingActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".ui.activity.GroupActivity"
            android:label="Группы"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activity.SportsmanActivity"
            android:label="Спортсмены"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".ui.activity.ItemGroupActivity"
            android:label="Редактирование группы"
            android:parentActivityName=".ui.activity.GroupActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.GroupActivity"/>
        </activity>
        <activity
            android:name=".ui.activity.SportsmanDetailActivity"
            android:label="Спортсмен"
            android:parentActivityName=".ui.activity.SportsmanActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.SportsmanActivity"/>
        </activity>
        <activity
            android:name=".ui.activity.AbonementActivity"
            android:label="Абонемент"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".ui.activity.ReportActivity"
            android:label="Статистика"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activity.DohodActivity"
            android:label="Доход">
        </activity>
        <activity
            android:name=".ui.activity.RateActivity"
            android:label="Расход">
        </activity>
        <activity
            android:name=".ui.activity.Preferences"
            android:label="Настройки">
        </activity>

        <receiver
            android:name=".services.AlarmTaskReciver"
            android:enabled="true"
            android:exported="true">
        </receiver>
        <receiver
            android:name=".services.CheckAndRestartAlarmReciver"
            android:enabled="true"
            android:exported="false">
        </receiver>

        <activity android:name=".ui.activity.EditRateTypeActivity">
        </activity>
        <activity
            android:name=".ui.activity.AbonementInfoActivity"
            android:label="Информация о абонементе">
        </activity>
        <activity android:name=".ui.activity.EndingReportActivity"
            android:launchMode="singleTask"
            android:label="Отчет по абонементам">
        </activity>
    </application>

</manifest>